:root {
  --focus-inner-border-color: black;
  --focus-outer-border-color: yellow;
}

*:focus-visible {
  outline-color: var(--focus-outer-border-color);
  outline-style: solid;
  outline-offset: 0;
  outline-width: 0.3rem;
  border-radius: 1rem;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    outline-color: var(--focus-inner-border-color);
    outline-style: dashed;
    outline-offset: 0.05rem;
    outline-width: 0.2rem;
    border-radius: inherit;
  }
}

*[class*=" inner-focus"]:focus-visible {
  outline-offset: -0.5rem;
  outline-width: 0.3rem;
  border-radius: 1rem;

  &::after {
    outline-color: var(--focus-inner-border-color);
    outline-offset: -0.45rem;
  }
}
