.artworkWrapper {
  --bg-transform-x: 0%;
  --bg-transform-y: 0%;

  &.artworkWrapperIsFunky {
    .artworkFrame {
      background: radial-gradient(
        circle at center in hsl longer hue,
        red,
        blue
      );
      background-size: 2000% 100%;
      background-position: calc(var(--bg-transform-x) * 0.5),
        calc(var(--bg-transform-y) * 0.5);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.artworkFrame {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  overflow: hidden;
  color: purple;
  font-weight: bold;
  background: linear-gradient(45deg, indigo, blue);
  background-size: 100% 100%;
  background-position: calc(var(--bg-transform-x) * 0.5),
    calc(var(--bg-transform-y) * 0.5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-position 20s var(--tr-ease-out-quart);
}

.artwork {
  --size: calc(100vw / 400 * 2);

  width: 100%;
  white-space: pre;
  font-family: monospace;
  font-size: var(--size);
  line-height: var(--size);
  letter-spacing: unset;
  transform: unset;
  overflow-y: hidden;
  display: block;
  user-select: none;

  @media screen and (max-aspect-ratio: 1.75 / 1) {
    --size: calc(100vh / 120);
  }
}
