.outcome {
  position: absolute;
  top: 50%;
  left: 5vw;
  text-transform: uppercase;
  font-family: Verdana;
  transform: translate(0, -50%);
  font-size: calc(100vh * 0.4);
  line-height: 1;
  font-weight: 700;
  user-select: none;
  color: red;

  &.outcomeYes {
    color: lime;
  }

  @media screen and (max-aspect-ratio: 1 / 1), screen and (max-width: 640px) {
    font-size: calc(100vw * 0.379);
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
